extern
src/csv2xls
*.swp
*.o
config.log
config.h
config.status
stamp-h1
testing/TestMain
src/.dirstamp
src/.deps
testing/.deps
Makefile
*Makefile.in
.idea
cmake-build-debug
cmake-build-release
VERSION